.cadast{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box-cadast {
    background-color: #ffca00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.box-cadast h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
    color: #a30000;
} 

.box-cadast p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.box a {
    color: #007bff;
    text-decoration: none;
}

.box-item,
.box-group,
.box-pass {
    margin-bottom: 15px;
}

.box-item input,
.box-group input,
.box-pass input {
    width: 100%;
    background-color: #ffca00;
    padding: 10px;
    border: 1px solid #ddd;
    border-color:    #a30000;
    border-radius: 4px;
    font-size: 14px;
}

.box-group {
    display: flex;
    gap: 10px;
}

.box-group input {
    flex: 1;
}

.box-pass input {
    margin-bottom: 10px;
}

button.btn {
    width: 100%;
    padding: 12px;
    background-color: #a5c135;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #c4de5c;
}