*{
    color:white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

    background:url(fundo2.png);
    background-size: cover;
    

}

.card-img {

height: auto;
width: 18%;

}
*{font-family: Fredoka One;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eb0000;
    color: white;
}

header .logo {
    width: 100px;
    padding: 6px;
    margin-right: 12px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header .log{
color: white;
font-size: 1.2rem;

}

header ul li a:hover {
    text-decoration: underline;
}