.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px; 
    margin: 32px auto;
    max-width: 75% 
}


.card {
    width: 100%;
    max-width: 320px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}


.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); }

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1); 
}


.card .card-button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    background-color: #ffa600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 16px;
    text-decoration: none;
}

.card .card-button:hover {
    background-color: #ff8700;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 1.8rem;
    color: #fff;
    margin: 16px 0;
}

.card p {
    color: #ddd;
    font-size: 1em;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .cardapio {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
}

@media (max-width: 1200px) {
    .cardapio {
        justify-content: center; 
    }
}