section{
    display: flex;
    flex-wrap: wrap;
}

.group-pedido {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}

.group-pedido h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 25px;
    color: #a30000;
}

.info-box {
    width: 900px;
    height: flex;
    background-color: #ffca00;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.pag-box {
    width: 900px;
    height: flex;
    background-color: #ffca00;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.pag-box input {
    background-color: #a30000;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 5px 0 5px 0;
}

.pag-box ::placeholder {
    color: #ff4e4e;
}

.pag-box select {
    border: none;
    border-radius: 5px;
    background-color: #a30000;
    color: #ffff;
    outline: none;
    width: 60px;
    height: 40px;
    margin: 10px;
}

.car-box {
    width: 500px;
    height: flex;
    background-color: #ffca00;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.car-box li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.total-box {
    width: 500px;
    height: flex;
    background-color: #ffca00;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}

.total-box li {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.total-box #total{
    font-weight: bold;
    font-size: larger;
    border-top: 1px solid #a30000;
    padding: 5px;
}

button {
    align-self: center;
    color: #ffff;
    background-color: #6E8318;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #718d00;
}

.img-card{
    width: 50px;
    margin: 5px;
}