.logi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.login-box {
    background-color: #ffca00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 400px;
}

.login-box h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
    color: #a30000;
}

.login-box p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
    color: #666;
}

.box a {
    color: #007bff;
    text-decoration: none;
}

.box a:hover {
    text-decoration: underline;
}

.box-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-item input {
    padding: 10px;
    font-size: 16px;
    justify-content:center ;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button.btn {
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

button.btn:hover {
    background-color: #c4de5c;
}