@import url('/assets/css/style.css');
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    margin: 15% auto; 
    color:#fff;
    border-radius: 25px;
    padding: 20px; 
    gap: 2rem;
    padding: 2rem;
}

.list-lateral-profile {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-user {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
    color: #fff;
}

.user-status {
    color: #4caf50;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-action {
    background-color: #ff5722;

    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.btn-action:hover {
    background-color: #e64a19;
}

.social-links {
    margin-top: 1rem;
}

.social-links img {
    width: 24px;
    margin-right: 0.5rem;
}

.content-article {
    flex: 3;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.activity-list {
    margin-bottom: 1rem;
}

.stats, .quick-settings {
    margin-top: 2rem;
    
}
.quick-settings p{
    color: #fff;
}

.stats ul, .quick-settings ul {
    list-style: none;
}

.stats li, .quick-settings li {
    margin-bottom: 0.5rem;
}

.stats a, .quick-settings a {
    color: #ff5722;
    text-decoration: none;
}

.stats a:hover, .quick-settings a:hover {
    text-decoration: underline;
}   