*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{

    background-image: url("/projeto_pizzaria/fundo-pizza2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}
main {
    padding-top: 50px; 
}