@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #a30000;
        padding: 20px 0;
    }

    .nav.active {
        display: flex;
    }

    .nav li {
        margin: 15px 0;
    }

    .search-container {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    }

    .search-container input[type="text"] {
        width: 80%;
    }

    .menu-toggle {
        display: block;
    }
}